In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [17]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
df.shape

(10000, 14)

In [19]:
#Dropping columns which are not required

df = df.drop(["RowNumber","CustomerId","Surname"],axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [20]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [6]:
#Converting Categorical labels to Numerical labels
#Gender and Geography are categorical columns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

Label_Encoder = LabelEncoder()
df["Gender"] = Label_Encoder.fit_transform(df["Gender"])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
One_Encoder = OneHotEncoder()
df["Geography"]=One_Encoder.fit_transform(df["Geography"])

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [8]:
One_Encoder = OneHotEncoder()
One_Encoded_final=One_Encoder.fit_transform(df[["Geography"]])
One_Encoded_final

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
One_Encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
One_Encoder.__dir__()

['categories',
 'sparse_output',
 'dtype',
 'handle_unknown',
 'drop',
 'min_frequency',
 'max_categories',
 'feature_name_combiner',
 '_infrequent_enabled',
 'n_features_in_',
 'feature_names_in_',
 'categories_',
 '_drop_idx_after_grouping',
 'drop_idx_',
 '_n_features_outs',
 '__module__',
 '__annotations__',
 '__doc__',
 '_parameter_constraints',
 '__init__',
 '_map_drop_idx_to_infrequent',
 '_set_drop_idx',
 '_compute_transformed_categories',
 '_remove_dropped_categories',
 '_compute_n_features_outs',
 'fit',
 'transform',
 'inverse_transform',
 'get_feature_names_out',
 '_check_get_feature_name_combiner',
 '_sklearn_auto_wrap_output_keys',
 '_check_X',
 '_fit',
 '_transform',
 'infrequent_categories_',
 '_check_infrequent_enabled',
 '_identify_infrequent',
 '_fit_infrequent_category_mapping',
 '_map_infrequent_categories',
 '__sklearn_tags__',
 'fit_transform',
 '__init_subclass__',
 'set_output',
 '__dict__',
 '__weakref__',
 '__new__',
 '__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__setattr__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__reduce_ex__',
 '__reduce__',
 '__getstate__',
 '__subclasshook__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__',
 '_html_repr',
 '_get_param_names',
 'get_params',
 '_get_params_html',
 'set_params',
 '__sklearn_clone__',
 '__setstate__',
 '_validate_params',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_doc_link_module',
 '_doc_link_url_param_generator',
 '_doc_link_template',
 '_get_doc_link',
 '_build_request_for_signature',
 '_get_default_requests',
 '_get_metadata_request',
 'get_metadata_routing']

In [11]:
#Converting the values to array to see the data of OHE
One_Encoded_final = One_Encoded_final.toarray()
One_Encoded_final

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [12]:
#Getting tht dataframe of the One_Encoded_final
df_One_Hot_Encoded = pd.DataFrame(data=One_Encoded_final,columns=One_Encoder.get_feature_names_out())
df_One_Hot_Encoded

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
df_final = pd.concat([df.drop(["Geography"],axis=1),df_One_Hot_Encoded],axis=1)
df_final

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [14]:
#Splitting the data into X and Y
X = df_final.drop(axis=1, columns=["Exited"])
Y= df_final["Exited"]
print(X.shape, Y.shape)

(10000, 12) (10000,)

In [15]:
#Train test split
X_train,X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3,random_state=42)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(7000, 12) (3000, 12) (7000,) (3000,)

In [16]:
#Standardization of numerical columns using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.34459497, -1.09823226, -0.65674999, ..., -1.00171576,
        -0.57559072,  1.73073215],
       [-0.09518109, -1.09823226, -0.46637979, ..., -1.00171576,
         1.73734559, -0.57779016],
       [-0.94734518,  0.91055421, -0.56156489, ...,  0.99828718,
        -0.57559072, -0.57779016],
       ...,
       [ 0.86090545, -1.09823226, -0.08563939, ...,  0.99828718,
        -0.57559072, -0.57779016],
       [ 0.15423279,  0.91055421,  0.39028611, ...,  0.99828718,
        -0.57559072, -0.57779016],
       [ 0.46600014,  0.91055421,  1.1517669 , ..., -1.00171576,
         1.73734559, -0.57779016]])

In [17]:
#Storing the Encoders and Scaler for future use
import pickle

with open("Label_Encoder_Gender.pkl","wb") as file:
    pickle.dump(Label_Encoder,file)

with open ("OHE_Geographhy.pkl","wb") as file:
    pickle.dump(One_Encoder,file)

with open ("Standard_Scaler","wb") as file:
    pickle.dump(scaler,file)

ANN Implementation

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From e:\GEN AI-Krish Naik\ANN Poject Implementation\ANN VS CODE - Mine\pvenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
#Building the ANN model
model = Sequential(
    [
    Dense(units = 64, activation = "relu", input_dim = X_train.shape[1]),
    Dense(units=32,activation="relu"),
    Dense(units=1,activation="sigmoid")
     ]
)

WARNING:tensorflow:From e:\GEN AI-Krish Naik\ANN Poject Implementation\ANN VS CODE - Mine\pvenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
#Checking the parameters of the model

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
#Adding the optimizer , loss function and metrics to the model
# For a Binary Classification problem we use Bianry Crossentropy as loss function and for multiclass classification we use Sparse Categorical Crossentropy
import tensorflow
optimizer = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss_fucntion = tensorflow.keras.losses.BinaryCrossentropy()
metrics = "accuracy"

model.compile(optimizer= optimizer, loss=loss_fucntion, metrics=[metrics])

In [22]:
#Training the model with EarlyStopping and TensorBoard Callbacks
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

call_backs = "log/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=call_backs, histogram_freq=1)

Early_Stopping_Callback = EarlyStopping(monitor="val_loss",patience=5,restore_best_weights=True)

In [23]:
#Training the model with EarlyStopping and TensorBoard Callbacks and data
history = model.fit(X_train,Y_train,epochs=100, validation_data=(X_test,Y_test),callbacks=[Early_Stopping_Callback,tensorboard_callback])

Epoch 1/100
WARNING:tensorflow:From e:\GEN AI-Krish Naik\ANN Poject Implementation\ANN VS CODE - Mine\pvenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\GEN AI-Krish Naik\ANN Poject Implementation\ANN VS CODE - Mine\pvenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

219/219 [==============================] - 8s 15ms/step - loss: 0.3997 - accuracy: 0.8311 - val_loss: 0.3580 - val_accuracy: 0.8607
Epoch 2/100
219/219 [==============================] - 1s 6ms/step - loss: 0.3626 - accuracy: 0.8499 - val_loss: 0.3410 - val_accuracy: 0.8617
Epoch 3/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3500 - accuracy: 0.8546 - val_loss: 0.3367 - val_accuracy: 0.8657
Epoch 4/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3471 - accuracy: 0.8580 - val_loss: 0.3330 - val_accuracy: 0.8647
Epoch 5/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3432 - accuracy: 0.8579 - val_loss: 0.3406 - val_accuracy: 0.8660
Epoch 6/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3413 - accuracy: 0.8596 - val_loss: 0.3413 - val_accuracy: 0.8657
Epoch 7/100
219/219 [==============================] - 2s 7ms/step - loss: 0.3397 - accuracy: 0.8580 - val_loss: 0.3381 - val_accuracy: 0.8613
Epoch 8/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3367 - accuracy: 0.8593 - val_loss: 0.3352 - val_accuracy: 0.8660
Epoch 9/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3354 - accuracy: 0.8626 - val_loss: 0.3432 - val_accuracy: 0.8590

In [24]:
model.save("ANN_model.h5")

e:\GEN AI-Krish Naik\ANN Poject Implementation\ANN VS CODE - Mine\pvenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [25]:
## Load Tensorboard Extension
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit

In [23]:
import pickle
with open ("OHE_Geography.pkl","rb") as file:
    OHE_Geography = pickle.load(file)
OHE_Geography.categories_[0]
OHE_Geography.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
with open ("Label_Encoder_Gender.pkl","rb") as file:
    Label_Encoder_Gender = pickle.load(file)

print(Label_Encoder_Gender.classes_)

['Female' 'Male']